$background-gradient-top: #333333;
$background-gradient-bottom: #242424;
$primary-color: #FFFFFF;
$secondary-color: #CACACA;
$main-font: "Roboto Condensed", sans-serif;
$error-color: #a30f05;
$success-color: #04cc1b;