<html lang="en"></html>
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}</title>
    </head>
    <body>
        <div id="about">
            <h1>VINCENT LE</h1>
            <h4>GAMEPLAY PROGRAMMER</h4>
            <div id="icons"></div>
        </div>
    </body>
</html>