<html lang="en"></html>
    <head>
        <meta charset="utf-8"/>
        <title>{{title}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/styles/homeStyle.css"/>
        <script src ="/assets/src/HomeBundle.js"></script>
    </head>
    <body>
        <div id="about">
            <h1>VINCENT LE</h1>
            <h4>GAMEPLAY PROGRAMMER</h4>
            <div id="icons"></div>
        </div>
    </body>
</html>